*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
/* donate top banner */
.home-top-banner{
   background: linear-gradient(rgba(18, 18, 18, 0.4), rgba(18, 18, 18, 0.9)), url('../images/donation.jpg');
   background-repeat: no-repeat;
   background-position: center;
   height: 660px;
   background-size:cover;
   width: 100%;
}
.top-content{
   padding: 80px 40px;
   text-align: center;
}
.top-content-title{
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
}
.top-content-description{
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom:35px ;
}
.donate-btn{
    text-decoration: none;
    background-color: #FF5959;
    padding: 8px 12px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
}

/*  donate today section*/
.donate-today-section{
    padding: 80px 30px;
}
.donate-today-title{
    color: #000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 15px;
}
.donate-today-description{
    text-align: center;
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
}
.donate-amounts{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.donate-amount-item{
    width: 135px;
    height: 123px;
    background-color: #FAFAFA;
    text-align: center;
    line-height: 4;
    margin-left:12px ;
    border-radius: 5px;
}
.donate-first-item{
    margin-left:0;
}
.donate-amount-orange{
    background-color: #FFEEEE ;
    border: 2px solid #FF5959;
}
/* 707070 */
.donate-amount-item h2{
    color: #707070;
    font-size: 30px;
}
.donate-amount-orange h2{
    color: #FF5959;
}
.donation-form{
    text-align: center;
}
.donate-input{
    margin-bottom: 40px;
    text-align: center;
    width: 730px;
    color: #B3B3B3;
    font-size: 18px;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #B3B3B3;
}